<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>

    {% load static %}

</head>
<body>
<h1>My Gallary</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis cumque deserunt eaque eos eveniet explicabo fuga, hic illo impedit labore minima modi molestias nemo neque nihil ratione repudiandae suscipit.</span><span>Adipisci consectetur corporis exercitationem facilis magnam quos sapiente sint! Aperiam, architecto asperiores at atque blanditiis commodi corporis distinctio et iste laborum laudantium minus omnis perferendis quam quia quibusdam tempore velit?</span></p>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">
</body>
</html>