<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    <style>
        h1{
            text-align: center;
            color: white;
            background-color: black;
            line-height: 80px;

        }
        h1:hover {
            background-color: #4ac1f7;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<a href="{% url 'About' %}">about</a>
<a href="{% url 'gallery'  %}">gallery</a>
<a href="{% url 'form' %}">form</a>


<h1>QuickDash App</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum ipsa molestiae nobis nulla provident quia, quod ratione repellendus? Aliquam eum illum itaque vel veritatis! Hic nobis quas repellendus unde!</span><span>Animi atque corporis culpa et nesciunt placeat ratione similique? Asperiores atque consequatur cum cumque distinctio dolore earum facilis fugit harum iusto libero nesciunt odit, omnis placeat porro quas quisquam unde!</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea esse ipsa odio optio sed tempore. Aliquam, debitis et, iste molestiae non praesentium quia repellat sed similique ut veritatis voluptas!</span><span>Consequuntur ducimus iste molestiae numquam. Beatae enim perferendis porro quas quasi sed! Ab amet architecto ducimus ea et iste labore laboriosam libero minus sequi? Accusamus alias eveniet laboriosam magni totam.</span><span>Architecto aspernatur, atque consequatur, dolore eveniet exercitationem id impedit incidunt iure nobis nulla officiis omnis quae, quasi quibusdam ratione unde voluptatibus voluptatum. Consectetur deleniti fuga praesentium? Consequatur ex numquam ratione.</span></p>

<img src="{% static 'assets/homeimg.png' %}" alt="">
</body>
</html>