<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product page</title>
  {%  load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="text-center text-warning">Product Information</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet asperiores beatae commodi consectetur consequatur consequuntur cum, dolores eaque, eligendi laudantium libero molestiae quidem temporibus ullam! Labore nam odit tenetur.</span><span>Alias recusandae repellat rerum sed! Atque libero numquam quas similique. Ab assumenda dolorem ducimus ea eaque est expedita facere iste iusto nemo nihil, obcaecati odio officia quae repudiandae sint, tenetur.</span></p>
<table class="table container">
  <tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Quality</th>
    <th>Product Quantity</th>
  </tr>
  <tr class="table-info">
    <td>1</td>
    <td>Wheat</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>
  <tr class="table-danger">
    <td>2</td>
    <td>Rice</td>
    <td>Good</td>
    <td>250 Bags</td>
  </tr>
  <tr class="table-warning">
    <td>3</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>
  <tr class="table-success">
    <td>3</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>
</table>
</body>
</html>